<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="film.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FILM</title>
</head>
<body>
    
    <div class="container">
        <h1>MOVIES</h1><br><br>

        <form class="form-inline">
            
            <select  id="inlineFormCustomSelectPref">
                <option value="genre" selected>GENRE</option>
              <option value="Animation">Animation</option>
              <option value="Drama">Drama</option>
              <option value="Adventure">Adventure</option>
              <option value="Kids">Kids</option>
              <option value="Documentary">Documentary</option>
            </select>
        </form><br><br>

        <div class="row">
            <h4>Last movies added</h4>
        </div>
        
        <my-row></my-row>
        

        <div class="row">
            <h4>Most popular</h4>
        </div>
        
        <my-row></my-row>

        <div class="row">
            <h4>Movies for you</h4>
        </div>
        
        <my-row></my-row>

        <div class="row">
            <h4>Most liked</h4>
        </div>
        
        <my-row></my-row>

    </div>

    
</body>
</html>