<div class="container col-md-3">
    <div class="card card-container">
        <h2>Sign Up</h2>
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signUp">
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <input type="text" id="inputName" class="form-control" placeholder="Name" required>
            <input type="text" id="inputSurname" class="form-control" placeholder="Surname" required>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <input type="date" id="inputBirthDate" class="form-control" placeholder="BirthDate" required>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="newsletter"> newsletter
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign Up</button>
        </form>
        <a href="#" class="forgot-password">
            Already got an account? Login!
        </a>
    </div>
</div>