<link href="../../../assets/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="../../../assets/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="changeProfile.css">

<body>
    <div class="container col-md-3">
        <div class="card card-container">
            <h2 id="idChangeProfile">Change Profile</h2>
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signUp">
                <input type="email" id="email" class="form-control" placeholder="Email address" required autofocus>
                <input type="text" id="name" class="form-control" placeholder="Name" required>
                <input type="text" id="surname" class="form-control" placeholder="Surname" required>
                <input type="password" id="password" class="form-control" placeholder="Password" required>
                <input type="date" id="birthDate" class="form-control" placeholder="BirthDate" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="newsletter"> newsletter
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Confirm</button>
            </form>
        </div>
    </div>
</body>