<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/#!/home">NETFLOP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a ng-if="$ctrl.loggedIn" class="nav-item nav-link" href="/#!/movies">Movies</a>
            <a ng-if="$ctrl.loggedIn" class="nav-item nav-link" href="/#!/series">TV Series</a>
            <a ng-if="$ctrl.loggedIn" class="nav-item nav-link" href="/#!/favorites">Favorites</a>
        </div>
    </div>
    <form class="form-inline">
        <a ng-if="$ctrl.loggedIn" class="nav-item nav-link" href="/#!/search">Search</a>
        <a ng-if="!$ctrl.loggedIn" class="nav-item nav-link" href="/#!/login">Login</a>
        <a ng-if="$ctrl.loggedIn" class="nav-item nav-link" href="/#!/profile">Profile</a>
        <a ng-if="$ctrl.loggedIn" class="nav-item nav-link" href="#" ng-click="$ctrl.logout()">Logout</a>
    </form>
</nav>
