<div class="container">
    <h1>TV SERIES</h1><br><br>

    <form class="form-inline">
        
        <select  id="inlineFormCustomSelectPref">
            <option value="genre" selected>GENRE</option>
            <option value="Animation">Animation</option>
            <option value="Drama">Drama</option>
            <option value="Adventure">Adventure</option>
            <option value="Kids">Kids</option>
            <option value="Documentary">Documentary</option>
        </select>
    </form><br><br>

    <div class="row">
        <h4>Last TV series added</h4>
    </div>
    <my-row></my-row>
    <br><br>
    

    <div class="row">
        <h4>Most popular</h4>
    </div>
    <my-row></my-row>
    <br><br>

    <div class="row">
        <h4>TV series for you</h4>
    </div>
    <my-row></my-row>  
    <br><br>


    <div class="row">
        <h4>Most liked</h4>
    </div>
    <my-row></my-row>

</div>