<h1>{{$ctrl.movie.title}}</h1>

<span class="badge badge-pill badge-info">{{$ctrl.movie.releaseDate | date : 'yyyy'}}</span>
<span class="badge badge-pill badge-info">{{$ctrl.movie.duration}}m</span>
<span class="badge badge-pill badge-dark">{{$ctrl.movie.genre}}</span>
<br>
<em class="fas fa-star checked" ng-repeat="i in $ctrl.posRating track by $index"></em>
<em class="far fa-star" ng-repeat="i in $ctrl.negRating track by $index"></em>
{{$ctrl.movie.ratingsNumber}}
<i class="fas fa-eye"></i>
{{$ctrl.movie.views}}
<i class="fas fa-heart"></i>
{{$ctrl.movie.views}}

<p>{{$ctrl.movie.description}}</p>

<h6>CAST: {{$ctrl.movie.actors}}</h6>

<a href="/#!/home.html"class="btn btn-info"role="button" aria-pressed="true">Back</a>
<a href="/#!/home.html"class="btn btn-info"role="button" aria-pressed="true">Watch</a>
<a href="javascript:;" class="btn btn-info"role="button" aria-pressed="true" ng-click="$ctrl.addVideoToFavorite()">Save for later</a>
<br>
<br>


<div class="container-fluid">
    <div class="card card-container">
        <form>
            <h6>Write your review</h6>
            <div class="rate">
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
            </div>


            <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="col-auto my-1">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

<div class="container-fluid">
    <div class="card card-container">
        <div class="list-group">
            <div class="d-flex w-100 justify-content-between">
                <div class="mb-1">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <small>3 days ago</small>
            </div>
            <p>Amazing film!!</p>
            <div class="d-flex w-100 justify-content-between">
                <div class="mb-1">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <small>3 days ago</small>
            </div>
            <p>I didn't liked so much that movie, it's so boring</p>

            <div class="d-flex w-100 justify-content-between">
                <div class="mb-1">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
                <small>3 days ago</small>
            </div>
            <p>Best film ever</p>

      </div>
    </div>
</div>
