<div class="row">
    <div class="col">
        <a href="film_details.html"><image src="academy/frontend/assets/img/film2.jpeg" height="200px" width="150"></image></a>
    </div>
    <div class="col">
        <a href="film_details.html"><image src="film3.jpg" height="200px" width="150"></image></a>
    </div>
    <div class="col">
        <a href="film_details.html"><image src="film4.jpg" height="200px" width="150"></image></a>
    </div>
    <div class="col">
        <a href="film_details.html"><image src="film5.jpg" height="200px" width="150"></image></a>
    </div>
    <div class="col">
        <a href="film_details.html"><image src="film6.jpg" height="200px" width="150"></image></a>
    </div>     
</div>
